.services {
  &__content {
    .coverageSection {
      @include tablet {
        @include sectionHorizontalSpace;
      }
      .generalHeading {
        @include secondGeneralHeading;
        color: $first-gs-heading-color;
        margin: 1.5rem 0;
        @include s-mobile {
          text-align: center;
        }
      }
      .coverage {
        *,
        h4 {
          font-size: 2rem !important;
        }
        @include tablet {
          *,
          h4 {
            font-size: 2rem !important;
          }
        }
        &_list {
          list-style: disc;
          padding-inline-start: 25px;
          margin-top: 10px;
          color: $primary-color;
          &__item {
            color: $black-color;
          }
        }
      }
      .coverageImage{
        position: relative;
        width: 100%;
        height: 35rem;
        @include mobile {
            margin-top: 15px;
            height: 30rem;
          }
      }
    }
  }
}
